<script src='https://cdn.tailwindcss.com'></script>

<div style='text-align: center;'>
	<div style='padding: 16px; font-size: 32px; font-weight: 700;'>
		HNEX STORE
	</div>

	<div style='padding:16px;color:#fff;background-color:rgb(37 99 235);'>
		<img
			src='https://cdn2.fptshop.com.vn/unsafe/1920x0/filters:quality(100)/2020_11_24_637418264301403600_email-cover.jpg'
			alt='Activate email'
		/>
		<div style='font-size:24px;font-weight:700;'>
			Activate your account
		</div>
	</div>

	<div style='padding:16px'>
		Hi,
		{{name}}
		̣({{email}}) thank you for signing up with us! We're excited to have you
		on board. To complete your registration, please verify your email
		address by entering the verification code below.
		<span style='color:rgb(220 38 38);font-weight:700;'>Verification code
			will expired in 5 min</span>:

		<div style='font-weight:700;'>Verfication code: {{code}}</div>
	</div>

	<div style='padding:16px;color:#fff;background-color:rgb(37 99 235)'>
		Copyrights ©. HNEX STORE. All rights. Reversed
	</div>
</div>